<div class="sign__footer">
  <footer class="single__footer">
    <nav>
      <ul>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">メルカリ利用規約</a></li>
        <li><a href="#">特定商取引に関する表記</a></li>
      </ul>
    </nav>
    <a href="/"><img class="single__footer__img" src="/logo_gray.svg" width="80px" height="65px"></a>
    <p>&copy; team.F</p>
  </footer>
</div>