<div class="session_wrapper">
    <div class="signup__header">
    <h1 class="signup__header__logo">
      <a href="/"><img src="/fmarket_logo_red.svg" width="185px" height="49px"></a>
    </h1>
    <nav id="nav" class="progress-bar signup__header__bar">
      <ol>
        <li class="">会員情報
        <div class="progress-status__first"></div>
        </li>
        <li class="">電話番号認証
        <div class="progress-status"></div>
        </li>
        <li class="">お届け先住所入力
        <div class="progress-status"></div>
        </li>
        <li class="">支払い方法
        <div class="progress-status"></div>
        </li>
        <li class="">完了
        <div class="progress-status__last"></div>
        </li>
      </ol>
    </nav>
  </div>