.sign__footer
  %footer.single__footer
    %nav
      %ul
        %li
          %a{href: "#"} プライバシーポリシー
        %li
          %a{href: "#"} メルカリ利用規約
        %li
          %a{href: "#"} 特定商取引に関する表記
    %a{href: "/"}
      %img.single__footer__img{height: "65px", src: "/logo_gray.svg", width: "80px"}/
    %p © team.F
