<div class="session_wrapper">
    <div class="signup__header">
    <h1 class="signup__header__logo">
      <a href="/"><img src="/fmarket_logo_red.svg" width="185px" height="49px"></a>
    </h1>
    <nav id="nav" class="progress-bar signup__header__bar">
      <ol>
        <li class="">会員情報
        <div class="progress-status__first active let_active"></div>
        </li>
        <li class="">電話番号認証
        <div class="progress-status active let_active"></div>
        </li>
        <li class="">お届け先住所入力
        <div class="progress-status active let_active"></div>
        </li>
        <li class="active">支払い方法
        <div class="progress-status active"></div>
        </li>
        <li class="">完了
        <div class="progress-status__last"></div>
        </li>
      </ol>
    </nav>
  </div>
    <div class="session_wrapper">
      <div class="single_container">
        <div class="session__main">
          <div class="session__main__container">
            <h2 class="session__main__container__title">支払い方法</h2>
            <div class="session__main__container__box">

              <div class="session__main__container__formGroup">
                <label for="nickname">カード番号<span class="form__require">必須</span></label>
                <input type="text" class="input__default" placeholder="半角数字のみ">
                <div class="session__main__container__formGroup__sub">
                  <i class="fab fa-cc-visa"></i>
                  <i class="fab fa-cc-mastercard"></i>
                  <i class="fab fa-cc-jcb"></i>
                  <i class="fab fa-cc-discover"></i>
                  <i class="fab fa-cc-amex"></i>
                  <!-- ↑画像使うと容量圧迫するのでアイコンで仮置き -->
                </div>
              </div>

              <div class="session__main__container__formGroup">
                <label for="nickname">有効期限<span class="form__require">必須</span></label>
                <div class="session__main__container__formGroup__sub">
                  <select name="month" class="select__wap">
                    <option value="">--</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <i class="fas fa-chevron-down select_arrow"></i>
                  <p>月</p>
                  <select name="year" class="select__wap">
                    <option value="">--</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                  </select>
                  <i class="fas fa-chevron-down select_arrow"></i>
                  <p>年</p>
                </div>

              <div class="session__main__container__formGroup">
                <label for="nickname">セキュリティーコード<span class="form__require">必須</span></label>
                <input type="text" class="input__default" placeholder="カード背面4桁もしくは3桁の番号">
                <div class="session__main__container__formGroup__link">
                  <%= link_to root_path do %>
                  <i class="fas fa-question-circle"></i><p>セキュリティーコードとは</p>
                  <% end %>
                </div>
              </div>


              <div class="session__main__container__formGroup">
              <%= link_to done_signup_index_path, class: "btn_default btn_mail" do %>
                次へ進む
              <% end %>
              </div>

           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>