<div class="footerWrapper">
  <div class="footer">
    <div class="footer__upper">
      <div class="footer__upper_1">
        <div class="footer__upper__1__list">
          <ul>
          <li class="footer__upper__1__list__title">メルカリについて</li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">プレスリリース</a></li>
          <li><a href="#">公式ブログ</a></li>
          <li><a href="#">メルカリロゴ利用ガイドライン</a></li>
          </ul>
        </div>
        <div class="footer__upper__1__icons">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-square"></i>
        </div>
      </div>
      <div class="footer__upper__2">
        <ul>
          <li class="footer__upper__1__list__title">ヘルプ&ガイド</li>
          <li><a href="#">メルカリガイド</a></li>
          <li><a href="#">らくらくメルカリ便</a></li>
          <li><a href="#">ゆうゆうメルカリ便</a></li>
          <li><a href="#">大型メルカリ便</a></li>
          <li><a href="#">車体取引ガイド</a></li>
          <li><a href="#">メルカリあんしん・あんぜん宣言！</a></li>
          <li><a href="#">偽ブランド品撲滅への取り組み</a></li>
          <li><a href="#">メルカリボックス</a></li>
        </ul>
      </div>
      <div class="footer__upper__3">
        <div class="footer__upper__1__list__title">プライバシーと利用規約</div>
        <div class="footer__upper__3__box">
          <div class="footer__upper__3__box__left">
            <ul>
              <li><a href="#">プライバシーポリシー</a></li>
              <li><a href="#">メルカリ利用規約</a></li>
              <li><a href="#">あんしんスマホサポート制度に関する利用規約</a></li>
              <li><a href="#">コンプライアンスポリシー</a></li>
            </ul>
          </div>
          <div class="footer__upper__3__box__right">
            <ul>
              <li><a href="#">個人データの安全管理に係る基本方針</a></li>
              <li><a href="#">特定商取引に関する表記</a></li>
              <li><a href="#">資金決済法に基づく表示</a></li>
              <li><a href="#">法令遵守と犯罪防止のために</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__upper__4">
        <ul>
          <li class="footer__upper__1__list__title">国</li>
          <li><a href="#">日本</a></li>
          <li><a href="#">United States</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom__logo">
        <a href="#"><img src="fmarket_logo_red.svg" width="124px" height="33px"></a>
      </div>
      <div class="footer__bottom__copy footer">
        <p>&copy; team.F</p>
      </div>
      <div class="footer__bottom__null">
      </div>
    </div>
  </div>
</div>