<div class="headWrapper">
  <div class="header">
    <div class="header__upperBox">
      <div class="header__upperBox__logo">
        <img src="fmarket_logo_red.svg" width="134px" height="36px">
      </div>
      <div class="header__upperBox__search">
        <form class="header__upperBox__search__form">
          <input class="header__upperBox__search__form" type="text">
        </form>
      </div>
    </div>

    <div class="header__bottomBox">
      <div class="header__bottomBox__left">
        <div class="header__bottomBox__left__category">
          <a href="#">■カテゴリーから探す</a>
        </div>
        <div class="header__bottomBox__left__brand">
          <a href="#">■ブランドから探す</a>
        </div>
      </div>
      <div class="header__bottomBox__right">
        <div class="header__bottomBox__right__good">
          <a href="#">■いいね！一覧</a>
        </div>
        <div class="header__bottomBox__right__info">
          <a href="#">■お知らせ</a>
        </div>
        <div class="header__bottomBox__right__todo">
          <a href="#">■やることリスト</a>
        </div>
        <div class="header__bottomBox__right__mypage">
          <a href="#">■マイページ</a>
        </div>
      </div>
    </div>
  </div>
</div>
