<div class="headWrapper">
  <div class="header">
    <div class="header__upperBox">
      <div class="header__upperBox__logo">
        <a href="/"><img src="fmarket_logo_red.svg" width="134px" height="36px"></a>
      </div>
      <div class="header__upperBox__search">
        <form class="header__upperBox__search">
          <input class="header__upperBox__search__form" type="text" placeholder="何かお探しですか？">
        </form>
      </div>
    </div>

    <div class="header__bottomBox">
      <div class="header__bottomBox__left">
        <div class="header__bottomBox__left__category">
          <a href="#"><i class="fas fa-list-ul"></i>全ての商品一覧</a>
        </div>
        <div class="header__bottomBox__left__brand">

        </div>
      </div>
      <div class="header__bottomBox__right">
        <ul class="header__bottomBox__right__nav">
        <% if user_signed_in? %>
          <li class="header__bottomBox__right__nav__list good"><a href="#" class="aaa">いいね！一覧</a></li>
          <li class="header__bottomBox__right__nav__list info"><a href="#" class="aaa">お知らせ</a></li>
          <li class="header__bottomBox__right__nav__list todo"><a href="#" class="aaa">やることリスト</a></li>
          <li class="header__bottomBox__right__nav__list"><a href="/mypage" class="aaa">マイページ</a></li>
          <% else %>
          <li class="header__bottomBox__right__nav__list"><%= link_to "新規会員登録", registration_page_path, class: "nav_btn_red" %></li>
          <li class="header__bottomBox__right__nav__list"><%= link_to "ログイン", root_path, class: "nav_btn_blue" %></li>
          <% end %>
          <li class="header__bottomBox__right__nav__list"><a href="/mypage" class="aaa">マイページ</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
