.mypage
  .mypage__container
    = render partial: 'myside'
    .mypage__container__main
      .mypage__container__main__h2
        プロフィール
      .mypage__container__main__box
        .mypage__container__main__box__pic
        %input.mypage__container__main__box__name{:name => "name", :placeholder => "名前", :type => "name", :value => ""}
      .mypage__container__main__form
        %textarea{id:"textarea",placeholder:"例）こんにちは！ご覧！ご覧いただきありがとうございます"}
        %button.btn.btn-lg.btn-default{id:"btn"} 変更する
         