 <div class="index">
  <div class="index_box">
    <div class='slider_box'>
      <ul class='slider'>
        <li><div class='green'></div></li>
        <li><div class='red'></div></li>
        <li><div class="blue"></div></li>
        <li><div class="pink"></div></li>
      </ul>
    </div>
      <div class="category_box">
        <h2>人気のカテゴリー</h2>
        <div class="category_type">
          <ul>
            <li>あああ</li>
            <li>あああ</li>
            <li>あああ</li>
            <li>あああ</li>
            <li>あああ</li>
          </ul>
        </div>
      </div>
  </div>
</div> 
