.index
  .index__box
    .slider
      %ul.slider__box
        %li
          .green
        %li
          .red
    .category
      %h2 人気のカテゴリー
      .category__type
        %ul
          %li メンズ
          %li レディース
          %li 家電・スマホ・カメラ
          %li おもちゃ・ボビーグッズ
    .list
      .list__title
        %h3 商品一覧
        = link_to 'もっと見る', "#"
      .items
        %ul
          - @items.each do|item|
            %li.item
              = link_to item_path(item) do
                %figure#figure1
                  -item.images.each do|image|
                    =image_tag "/#{image.image_url}", alt: "商品の写真", class:"picture"
                    %span#price="¥#{item.price}"
                    .pic
                  %figcaption.exp
                    %span=item.name
