<div class="index">
  <div class="index__box">
    <div class='slider'>
      <ul class='slider__box'>
        <li><div class='green'></div></li>
        <li><div class='red'></div></li>
      </ul>
    </div>
      <div class="category">
        <h2>人気のカテゴリー</h2>
        <div class="category__type">
          <ul>
            <li>メンズ</li>
            <li>レディース</li>
            <li>家電・スマホ・カメラ</li>
            <li>おもちゃ・ボビーグッズ</li>
          </ul>
        </div>
      </div>
      <div class="list">
        <div class="list__title">
          <h3>商品一覧</h3>
          <a href=# >もっと見る</a>
        </div>
        <div class="items">
          <ul>
           <li class="item">
            <a href="#">
              <figure>
                <div class="picture">
                  <span id=price>￥1,700</span>
                  <div class='pic'></div>
                </div>
                <figcaption class="exp">
                  <span>Mac book pro　第６世代　i-56200u 8g/ssd</span>
                </figcaption>
              </figure>
            </a>
           </li>
           <li class="item">
            <a href="#">
              <figure>
                <div class="picture">
                  <span id=price>￥1,700</span>
                  <div class='pic'></div>
                </div>
                <figcaption class="exp">
                  <span>Mac book pro　第６世代　i-56200u 8g/ssd</span>
                </figcaption>
              </figure>
            </a>
           </li>
           <li class="item">
            <a href="#">
              <figure>
                <div class="picture">
                  <span id=price>￥1,700</span>
                  <div class='pic'></div>
                </div>
                <figcaption class="exp">
                  <span>Mac book pro　第６世代　i-56200u 8g/ssd</span>
                </figcaption>
              </figure>
            </a>
           </li>
           <li class="item">
            <a href="#">
              <figure>
                <div class="picture">
                  <span id=price>￥1,700</span>
                  <div class='pic'></div>
                </div>
                <figcaption class="exp">
                  <span>Mac book pro　第６世代　i-56200u 8g/ssd</span>
                </figcaption>
              </figure>
            </a>
           </li>
           <li class="item">
            <a href="#">
              <figure>
                <div class="picture">
                  <span id=price>￥1,700</span>
                  <div class='pic'></div>
                </div>
                <figcaption class="exp">
                  <span>Mac book pro　第６世代　i-56200u 8g/ssd</span>
                </figcaption>
              </figure>
            </a>
           </li>
            <li class="item">
            <a href="#">
              <figure>
                <div class="picture">
                  <span id=price>￥1,700</span>
                  <div class='pic'></div>
                </div>
                <figcaption class="exp">
                  <span>Mac book pro　第６世代　i-56200u 8g/ssd</span>
                </figcaption>
              </figure>
            </a>
           </li>
          </ul>
        </div>
      </div>
  </div>
</div> 