.user__details
  .user__details__top
    .user__details__top__box
      .user__details__top__box__icon
      .user__details__top__box__name
      .user__details__top__box__number
  .user__details__center
    .user__details__center__

  .user__details__center
