<div class="mypage">
  <div class="mypage__container">
    <%= render partial: 'myside' %>
    <div class="mypage__container__main">
    <%# ----------ここから記述---------- %>
    <%# ----------ここから記述---------- %>
    </div>
  </div>
</div>
