-# - breadcrumb :card
-# .bread
-#   .bread__name
-#     = breadcrumbs 
.mypage
  .mypage__container
    = render partial: 'items/myside'
    .mypage__container__main-card
      .mypage__container__main-card__h2
        支払い方法
      .mypage__container__main-card__form
        .mypage__container__main-card__form__title
          クレジットカード一覧
        = link_to '', class: "hoge" do
          %button.btn.btn-lg.btn-default{id:"card_btn"} 
            %i.far.fa-credit-card
            クレジットカードを追加する
      = link_to '', class: "hoge" do
        .mypage__container__main-card__payment
          支払い方法について
          %i.fas.fa-angle-right
