.headWrapper{
  width: 100%;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.far,.fas{
  margin-right: 10px;
  font-size: 14px;
  line-height: 36px;
}

.aaa{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}

.nav_btn_red{
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  background-color: rgb(234, 53, 45);
  border: 1px solid rgb(234, 53, 45);
  &:hover{
    color: #fff;
    transition: 300ms;
  }
}
.nav_btn_blue{
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  background-color: #fff;
  color: rgb(17, 116, 174);
  border: 1px solid rgb(17, 116, 174);
  &:hover{
    color: #fff;
    background-color: rgb(17, 116, 174);
    transition: 300ms;
  }
}


.header{
  width:1020px;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  &__upperBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__logo{
      text-align: center;
      align-items: center;
      height: 40px;
      line-height: 40px;
    }
    &__search__form{
      padding: 0 50px 0 10px;
      line-height: 38px;
      height: 38px;
      width: calc(838px - 60px);
      background-color: rgb(245, 245, 245);
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
    }
  }

  &__bottomBox{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    &__left{
      display: flex;
      justify-content: space-between;
      height: 32px;
      &__category{
        font-weight: bold;
        line-height: 36px;
        i{
          color: rgb(234, 53, 45);
        }
      }
    }

    &__right{
      display: flex;
      justify-content: space-between;
      height: 32px;
      line-height: 32px;
      &__nav{
        display: flex;
        justify-content: space-between;
          .good{
            display: flex;
            &:before{
              color: rgb(204, 204, 204);
              content: "\f004";
              font-family: FontAwesome;
              font-size: 20px;
              margin-right: 10px;
            }
            &:hover:before{
              color: rgb(17, 116, 174);
              content: "\f004";
              font-family: FontAwesome;
              transition: 300ms;
            }
          }
          .info{
            display: flex;
            &:before{
              color: rgb(204, 204, 204);
              content: "\f0f3";
              font-family: FontAwesome;
              font-size: 20px;
              margin-right: 10px;
            }
            &:hover:before{
              color: rgb(17, 116, 174);
              content: "\f0f3";
              font-family: FontAwesome;
              transition: 300ms;
            }
          }
          .todo{
            display: flex;
            &:before{
              color: rgb(204, 204, 204);
              content: "\f00c";
              font-family: FontAwesome;
              font-size: 20px;
              margin-right: 10px;
            }
            &:hover:before{
              color: rgb(17, 116, 174);
              content: "\f00c";
              font-family: FontAwesome;
              transition: 300ms;
            }
          }
        &__list{
          height: 44px;
          padding: 0 14px;
          &:first-child{
            padding: 0 14px 0 0 ;
          }
          &:last-child{
            padding: 0 0 0 14px;
          }
        }
      }
    }
  }
}
