.session_wrapper{
  background-color: #F5F5F5;
  min-width: 100vw;
  min-height: 100vh;
}

.single_container{
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_header{
  height: 128px;
  text-align: center;
  &__img{
    margin-top: 40px;
    &:hover{
      opacity: 0.7;
      transition: 300ms;
    }
  }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.session__main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 220px;
  &__container{
    margin: 0 auto;
    background-color: #fff;
    width:42%;
    &__title{
      font-weight: bold;
      font-size: 22px;
      padding: 32px;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
    }
    &__box{
      padding: 40px 40px 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .btn_mail{
        color: #fff;
        width: 341px;
        height: 48px;
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        border: 1px solid #ea352d;
        background-color: #ea352d;
        text-align: center;
        line-height: 50px;
        .icon_mail{
          position: absolute;
          left: 16px;
          top: 35%;
          font-size: 16px;
          font-weight: 400;
        }
        &:hover{
          opacity: 0.7;
          transition: 300ms;
        }
      }
      .btn_facebook{
        color: #fff;
        width: 341px;
        height: 48px;
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        border: 1px solid #395184;
        background-color: #395184;
        text-align: center;
        line-height: 50px;
        margin-top: 16px;
        .icon_facebook{
          position: absolute;
          left: 16px;
          top: 35%;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .btn_google{
        color: #333;
        width: 341px;
        height: 48px;
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        border: 1px solid #979797;
        background-color: #fff;
        text-align: center;
        line-height: 50px;
        margin-top: 16px;
        .icon_google{
          position: absolute;
          left: 16px;
          top: 35%;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

.single__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0;
  nav{
    font-size: 12px;
  }
  ul{
    display: flex;
    li{
      margin-left: 16px;
      display: inline-block;
      &:first-child{
        margin: 0;
        }
      a:hover{
          border-bottom: 1px solid rgb(51, 51,51);
        }
      }
    }
  a{
    text-align: center;
    margin: 40px auto 0;
    &:hover{
      opacity: 0.7;
      transition: 300ms;
    }
  }
  p{
    font-size: 12px;
    text-align: center;
  }
}