.mypage{
  height: 100%;
  background-color: #F5F5F5;
  &__container{
    width: 1020px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: none;
    &__list{
      float: right;
      width: 700px;
      height: 100%;
      &__top{
        background-color: #fff;
        &__header{
          padding: 20px;
          height: 160px;
          background-image: url("mypage_bg.jpeg");
          background-size: contain;
        }
        &__body{
          height: 100%;

        }
      }
      &__under{
        margin-top: 40px;
        background-color: #fff;
        &__header{
          padding: 0 16px;
          line-height: 70px;
          height: 72px;
          font-weight: bold;
          color: #333;
          &__body{

          }
        }
      }
    }
  }
}

.mypage__list{
  position: relative;
  padding: 16px;
  display: flex;
  border-bottom: solid #eee 1px;
  &__icon{
    box-sizing: border-box;
    padding: 6px;
    height: 48px;
    width: 48px;
    background-color: #eee;
  }
  &__text{
    margin: 0 40px 0 20px;
    width: 100%;
    &__title{
      color: #333;
    }
    &__time{
    }
  }
  &__mark{
    position: absolute;
    top: 40%;
    right: 16px;
    height: 14px;
    width: 8.59px;
  }
}

.hide{
  display: none;
}
.mypage_tab{
  height: 74px;
  background-color: #eee;
}
.mypage_tab li{
  font-weight: bold;
  width: 50%;
  height: 74px;
  float:left;
  text-align: center;
  line-height: 72px;
  color: #333;
  &.select{
    box-sizing: border-box;
    background-color: #fff;
    border-top: solid 1.5px rgb(238, 41, 41);
  }
}

.list__btn{
  padding: 16px 16px;
  background-color: #fff;
  &__text{
    box-sizing: border-box;
    height: 56px;
    text-align: center;
    line-height: 56px;
    background-color: #eee;
    color: #333;
    font-size: 14px;
  }
}