= link_to profile_user_path do
  .wrapping
    .myicon
      .myicon__img
        = image_tag "/myicon.png", size: "50x50", id: "my_icon"
      .myicon__name
        Nikoniko
      .myicon__number
        評価  0   出品数  0